@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-obd-dark text-white min-h-screen;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow: hidden;
}
